# Visual Studio Code
.vscode/

# Node
node_modules/

# Byte-compiled files
__pycache__/

# Distribution and packaging
dist/

# Ruff
.ruff_cache/

# Environment variables
.env

# Django
*.sqlite3
assets/
media/

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/
